<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>创次元,二次元视频,图片社区</title>
    <meta name="Keywords" content="二次元,创次元,动漫,图片,社区博客," />
    <meta name="Description" content="二次元领域社交网站，兴趣爱好交流，作品分享，技能交流。" />
    <meta name="author" content="涂山" />
    <meta name="copyright" content="MCECY" />
    <meta name="baidu-site-verification" content="code-hek9Molwin" />
    <meta name="google-site-verification" content="RJuPpDyYQbk96onDlyStmaBiOCb2AJMq9I_y9GHcX7M" />
</head>

<body>
    <div id="app">
        <a href="https://mcecy.com/info/friend">友情链接</a>
    </div>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?e6357c7d75d52c5e5e96f013ecc01b57";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>

</html>